.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-card {
    padding: 3rem;
    width: 100%;
    max-width: 360px;
}


.login-card input {
    margin-bottom: 10px;
    padding: 0.625rem;
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    font-size: 1rem;
}