.categories a {
  text-decoration: none;
}

.categories li {
  display: inline-block;
  padding: 5px 16px;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.categories li:hover {
  background-color: #1e293b;
  border-radius: 4px;
  color: #7C3AED;
  transition: all 0.5s ease;
}

.categories li:active {
  background-color: #1e293b;
  border-radius: 4px;
  color: #7C3AED;
  transform: translateY(2px);
  transition: transform 0.1s ease;
}